<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action=" /person" method="post">
   Id <input type="number" name="id">
    Name<input type="text" name="name">
    Family<input type="text" name="family">
    PhoneNumber<input type="text" name="phone_number">
   Email<input type="text" name="email">
    Username<input type="text" name="user_name">
    Password<input type="text" name="password">
    Role<input type="checkbox"name="role">
    Enabled<input type="checkbox" name="enabled">
    <input type="submit" value="" Save>
</form>
</body>
</html>