<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://192.168.39.100:80/person" method="post">
   Id <input type="number" name="id">
    Name<input type="text" name="name">
    Family<input type="text" name="family">
    PhoneNumber<input type="text" name="phone_number">
   Email<input type="text" name="email">
    Username<input type="text" name="user_name">
    Password<input type="text" name="password">
    Role<input type="checkbox"name="role">
    Enabled<input type="checkbox" name="enabled">
    <input type="submit" value="save">

<form action="http://192.168.39.100:80/ticket" method="post">
    id<input type="number"name="id">
    person<input type="number" name="person_id">
    text<input type="text" name="text">
    title<input type="text" name="title">
    group<input type="checkbox" name="group">
    dateTime<input type="date"name="ticket dateTime">
    <input type="submit"value="save">

    <form action="http://192.168.39.100:80/response" method="post">
        id<input type="number"name="id">
       person <input type="number" name="person_id">
      ticket  <input type="number"name="ticket_id">
       status <input type="checkbox"name="status">
        answer<input type="text"name="answer">
        <input type="date"name="response dateTime">
        <input type="submit"value="save">
    </form >
</body>                 //TODO
</html>